---
import Base from "../../layouts/Base.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

const sortedTags = Object.entries(
  posts
    .flatMap((post) => post.data.tags ?? [])
    .reduce<Record<string, number>>((acc, tag) => {
      acc[tag] = (acc[tag] ?? 0) + 1;
      return acc;
    }, {}),
).toSorted((a, b) => b[1] - a[1]);
---

<Base title="Tags">
  <div data-pagefind-ignore>
    <h1>Tags</h1>
    <ul>
      {
        sortedTags.map(([tag, count]) => (
          <li>
            <a href={`/tags/${tag.toLowerCase()}/`}>
              {tag} ({count})
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Base>
