{{- $src := .Get "src" -}}

{{- $imgFromPage := $.Page.Resources.GetMatch $src -}}
{{- $imgFromGlobal := resources.Get $src -}}

{{ if $imgFromPage | or $imgFromGlobal }}
  {{ $img := $imgFromPage | or $imgFromGlobal }}

  {{ $img := cond (isset .Params "resize") ($img.Resize (.Get "resize" | default "1x1")) $img }}

  <figure>
    {{- $caption := trim (.Get "caption") "\n" -}}
    <img
      loading="lazy" src="{{ $img.RelPermalink }}"
      {{/* If alt or caption is specified, use it as alt text. */}}
      {{- if or (.Get "alt") $caption }}
      alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ $caption | markdownify | plainify }}{{ end }}"
      {{- end -}}
    >
  
    {{- if $caption -}}
      <figcaption>
        {{/* The extra <p> is intentional. */}}
        {{/* Otherwise different style for figure title is used. */}}
        {{/* Right now caption won't support title or link here. */}}
        <p>
          {{- $caption | markdownify -}}
        </p>
      </figcaption>
    {{- end }}
  
  </figure>

{{- else -}}
{{- errorf "figure: image '%s' must be an existing page or global resource!" $src -}}
{{- end -}}

{{- if not (.Page.Scratch.Get "lightenseLoaded") -}}
  {{- .Page.Scratch.Set "lightenseLoaded" true -}}
  <script defer src="https://cdn.jsdelivr.net/npm/lightense-images@1.0.17/dist/lightense.min.js" integrity="sha256-0L7PA+rlAMaq+Gkzls+i1cUvY9i7D+XF/Yl3BhYKABo=" crossorigin="anonymous"></script>
  <script defer type="text/javascript">
    window.addEventListener("load", function() {
      Lightense('img:not(.no-lightense, [aria-label="logo"])', {
        // Override the bg color behind the overlayed image when lightbox is opened.
        // Using secondary value from theme with high opacity to make it work with
        // both light and dark mode because we don't have access to theme variable here.
        background: 'rgb(155, 156, 157 / 60%)',
      });
    }, false);
  </script>
{{- end -}}
