---
import Base from '../layouts/Base.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts', ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
})).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---
<Base title="A blog by Yosua Ian Sebastian">
	<h1>A blog by Yosua Ian Sebastian</h1>
	<ul>
		{posts.map((post) => (
			<li>
				<a href={`/p/${post.id}/`}>
					{post.data.title}
				</a>
				<time datetime={post.data.date.toISOString()}>
					{post.data.date.toISOString().slice(0, 10)}
				</time>
			</li>
		))}
	</ul>
</Base>
